<link href="cardstyle.css" rel="stylesheet">
<%blogs.forEach((blog)=>{%>
<li>
    <div class="container">
        <div class="layer-one">
            <input type="checkbox" id="bookmark" />
            <label for="bookmark">
                <i class="fas fa-bookmark"></i></label>
        </div>
        <div class="layer-two">
            <div class="text">
                <h4><%=blog.title%></h4>
                <div class="detail">
                    <p><i class="far fa-clock"></i></p>
                    <p><i class="fas fa-star"></i><%=blog.long%></p>
                    <p><i class="fas fa-fire"></i>300 kcal</p>
                    <i style="display: none;" class="photourl"><%=blog.photo%></i>
                </div>
                <h4 id="price"> <%=blog.short%></h4>
                <a class="del" href="/blog/<%=blog._id%>">Detay</a>
            </div>
        </div>
    </div>
</li>
<%})%>
<script>
    let containerItem = document.querySelectorAll('div.container')
    let uri = document.querySelectorAll('div.container i.photourl')

    for (let i = 0; i < containerItem.length; i++) {
        containerItem.item(i).style.background = "url(" + uri.item(i).innerHTML + ") center/cover"
    }
</script>